<p>product-list-table works!</p>


<!-- <div>
    <p *ngFor="let tempProduct of products">
        {{ tempProduct.name }}: {{ tempProduct.unitPrice | currency: 'USD' }}
    </p>

</div> -->



<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align"><img src="{{ tempProduct.imageUrl }}" height="50"></td>
                <!-- <td>{{ tempProduct.imageUrl }}</td> -->
            <td class="align">{{ tempProduct.name }}</td>
            <td class="align">{{ tempProduct.unitPrice | currency: 'USD' }}</td>
            <td class="align">{{ tempProduct.unitsInStock }}</td>

        </tr>

    </tbody>
</table>